<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-900 flex justify-center items-center h-screen">

<form method="POST" class="bg-slate-800 p-8 rounded">

<h2 class="text-white text-xl mb-4">Login</h2>

<input name="username" placeholder="Username" class="block mb-3 p-2 text-black">
<input type="password" name="password" placeholder="Password" class="block mb-3 p-2 text-black">

<button class="bg-green-500 px-4 py-2 w-full">Login</button>

</form>

</body>
</html>